.cost {
  @media screen and (max-width: 1440px) {
    flex-direction: column;
    &__left {
      width: 100%;
      order: 2;
      padding: 100px 10px;
      &-content {
        max-width: 580px;
        margin: 0 auto;
      }
    }
    &__title,
    &__list {
      margin-bottom: 50px;
    }
    &__right {
      width: 100%;
      order: 1;
      padding: 100px;
      video {
        max-width: 835px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &__left {
      padding: 50px 15px;
    }
    &__right {
      padding: 50px 15px;
      video {
        max-width: 670px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__list {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 20px;
      & li {
        padding-left: 25px;
        &::before {
          top: 3px;
          transform: none;
        }
      }
    }
    &__title {
      margin-bottom: 20px;
    }
    &__button {
      height: 50px;
    }
    &__price {
      font-size: 25px;
      line-height: 25px;
    }
  }
}
